/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

p {
    margin: 30px;
    text-align: justify;
}

footer {
    text-align: center;
    font-size: small;
    padding: 25px;
}

img {
    padding: 50px;
}

.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
    text-align: center;
    padding: 40px;
}