/* Write your CSS here! */

body {
    margin: 8px;
    display: block;
    background-color:whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h2 {
    padding-top: 40px;
}

p {
    margin: 30px;
    text-align: justify;
    line-height: 1.8;
}

footer {
    text-align: center;
    font-size: small;
    padding: 25px;
}

img {
    margin: auto;
    width: 50%;
    border: 0.1px solid black;
    padding: 25px; 
}

.funParagraph {
    color: green;
}

#mainHeading {
    color: red;
    text-align: center;
    padding: 40px;
    text-decoration-line: underline;
}